.tab {
    width: 400px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(217, 217, 217, 0.5);
    color: #BDBDBD;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .tab.selected {
    background-color: var(--wr-blue);
    color: #fff;
  }

