.profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicture img {
    width: 100%;
    height: 200px;
}

.active {
    border: 5px solid #4CAF50 !important; /* Ensure this style takes precedence */
    transform: scale(1.1) !important; /* Ensure this transform is applied */
    border-radius: 50% !important; /* Maintain the border-radius */
}

